<ion-header>
  <ion-navbar>
    <button ion-button menuToggle id="pleaseshowup">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Organizations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-searchbar (ionInput)="search($event)"></ion-searchbar>-->
  <ion-list>
    <button *ngFor="let organization of organizations" (click)="open(organization.id)" ion-item icon-left>
      <ion-avatar item-left>
        <img *ngIf="organization.picture === null" src="/assets/organization.png">
        <img *ngIf="organization.picture !== null" src="https://s3.us-east-2.amazonaws.com/airmeet-uploads/organizations/{{picture}}">
      </ion-avatar>
      {{ organization.name }}
    </button>
  </ion-list>
</ion-content>
