<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-ribbon"></div>
  <div *ngIf="organizationPicture === null" style="background-image: url(/assets/organization.svg)" class="big-avatar"></div>
  <div *ngIf="organizationPicture !== null" style="background-image: url(https://s3.us-east-2.amazonaws.com/airmeet-uploads/organizations/{{picture}})" class="big-avatar"></div>

  <div class="names">
    <h1>{{ organizationName }}</h1>
  </div>
  <hr>
  <div id="organizationDescription">
    {{ organizationDescription }}
  </div>
  <hr style="height: 1px;">
  <div id="organizationWebsite">
    <a id="organizationWebsiteLink" href="{{ organizationWebsite }}">Website</a>
  </div>
</ion-content>
