<ion-header>
  <ion-navbar>
    <ion-title>
      {{ item.title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-ribbon">
    <ion-fab top right edge id="messagefab">
      <button ion-fab mini (click)="Message(item)">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab top left edge id="savefab">
      <button *ngIf="saved" ion-fab mini (click)="unSave(item)">
        <ion-icon name="star"></ion-icon>
      </button>
      <button *ngIf="!saved" ion-fab mini (click)="Save(item)">
        <ion-icon name="star-outline"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <div [ngStyle]='{"background-image": getImage()}' class="big-avatar"></div>

  <!--ion-fab mini icon="oioioi" id="starfab"></ion-fab-->
  <div class="names">
    <h1>{{item.firstName}} {{item.lastName}}</h1>
  </div>
  <hr>
  <div style="font-size: 18px;" id="hello">
    {{ item.description }}
  </div>
  <br>
  <p>
  </p>
  <p *ngIf="item.facebook">
    <ion-icon name="logo-facebook"></ion-icon>
    <a style="color: inherit; font-size: 18px;" href="{{ item.facebook }}">Facebook</a>
  </p>
  <p *ngIf="item.twitter">
    <ion-icon name="logo-twitter"></ion-icon>
    <a style="color: inherit; font-size: 18px;" href="https://twitter.com/{{ item.twitter }}">@{{item.twitter}}</a>
  </p>
  <p *ngIf="item.linkedin">
    <ion-icon name="logo-linkedin"></ion-icon>
    <a style="color: inherit; font-size: 18px;" href="{{ item.linkedin }}">LinkedIn</a>
  </p>
  <br>
  <div>
    <h3 *ngIf="item.interests.interests.length > 0">Interests:</h3>
    <ul>
      <li *ngFor="let interest of item.interests.interests; let i = index;" style="font-size: 18px;">{{interest}}</li>
    </ul>
  </div>
</ion-content>
