<ion-header>
  <ion-navbar>
    <ion-title>
      {{ item.title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-ribbon">
    <ion-fab top right edge id="messagefab">
      <button ion-fab mini (click)="Message(item)">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <div style="background-image: url(/assets/profile.gif)" class="big-avatar"></div>

  <!--ion-fab mini icon="oioioi" id="starfab"></ion-fab-->
  <div class="names">
    <h1>{{item.firstName}} {{item.lastName}}</h1>
  </div>
  <hr>
  <div id="hello">
    {{ item.description }}
  </div>
  <br>
  <p>
  </p>
  <p *ngIf="item.facebook">
    <ion-icon name="logo-facebook"></ion-icon>
    <a href="{{ item.facebook }}">Facebook</a>
  </p>
  <p *ngIf="item.twitter">
    <ion-icon name="logo-twitter"></ion-icon>
    <a href="//twitter.com/{{ item.twitter }}">@{{item.twitter}}</a>
  </p>
  <p *ngIf="item.linkedin">
    <ion-icon name="logo-linkedin"></ion-icon>
    <a href="{{ item.linkedin }}">LinkedIn</a>
  </p>
  <br>
  <div *ngIf="item.interests">
    <h3>Interests:</h3>
    <ul>
      <li *ngFor="let interest of item.interests.interests; let i = index;">{{interest}}</li>
    </ul>
  </div>
</ion-content>
