<ion-header>
  <ion-navbar>
    <button ion-button menuToggle id="pleaseshowup">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>

      <ion-buttons (tap)="tapEvent('name')">
      <button ion-item>
        Name
        <p *ngIf="profile.firstName && profile.lastName">
          {{ profile.firstName }} {{ profile.lastName }}
        </p>
      </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('Picture')">
        <button ion-item>
          Picture
        </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('Description')">
        <button ion-item>
          Description
          <p *ngIf="profile.description">
            {{ profile.description}}
          </p>
        </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('Interests')">
        <button ion-item>
          Interests
          <p *ngIf="profile.interests !== null">
            <ng-container *ngFor="let interest of profile.interests.interests; let last = last">
              <span *ngIf="!last">
                {{ interest }},
              </span>
              <span *ngIf="last">
                {{ interest }}
              </span>
            </ng-container>
          </p>
        </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('Phone')">
        <button ion-item>
          Phone number
          <p *ngIf="profile.phone">
            {{ profile.phone}}
          </p>
        </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('LinkedIn')">
      <button ion-item>
       LinkedIn
        <p *ngIf="profile.linkedin">
          {{ profile.linkedin}}
        </p>
      </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('Facebook')">
        <button ion-item>
          Facebook
          <p *ngIf="profile.facebook">
            {{ profile.facebook}}
          </p>
        </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('Twitter')">
      <button ion-item>
        Twitter
        <p *ngIf="profile.twitter">
          @{{ profile.twitter}}
        </p>
      </button>
      </ion-buttons>

      <ion-item>
        <ion-label>Share Location on Map</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>

      <ion-buttons (tap)="tapEvent('privacyPolicy')">
        <button ion-item>
          Privacy Policy
        </button>
      </ion-buttons>

      <ion-buttons *ngIf="inEvent" (tap)="tapEvent('leaveEvent')">
        <button ion-item>
          Leave Event
        </button>
      </ion-buttons>

      <ion-buttons (tap)="tapEvent('signOut')">
        <button ion-item>
          Sign Out
        </button>
      </ion-buttons>

    </ion-list>

</ion-content>
