<ion-header>
  <ion-navbar>
    <button ion-button menuToggle id="pleaseshowup">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Your Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-ribbon"></div>
  <div style="background-image: url(/assets/profile.gif)" class="big-avatar"></div>
  <div class="names">
    <h1>{{item.firstName}} {{item.lastName}}</h1>
  </div>
  <hr>
  <div id="hello">
    {{ item.description }}
  </div>
  <br>
  <p *ngIf="item.facebook">
    <ion-icon name="logo-facebook"></ion-icon>
    {{ item.facebook }}
  </p>
  <p *ngIf="item.twitter">
    <ion-icon name="logo-twitter"></ion-icon>
    {{ item.twitter }}
  </p>
  <p *ngIf="item.linkedin">
    <ion-icon name="logo-linkedin"></ion-icon>
    {{ item.linkedin }}
  </p>
</ion-content>
