page-page2 {

}

.message-item {
  width: 100%;
  padding: 0;
}

.md {
  #save-button {
    color: white !important;
  }
}

.message-item>.item-inner {
  padding: 0;
}

.sending {
  background-color: #007AFF;
  color: #FFFFFF;
  width: 70%;
  text-align: right;
  margin-left: 28%;
  display: block;

}

.receiving {
  width: 70%;
  display: block;
}

.cardContent {
  text-align: left;
}

.messageInput {
  width: calc(100% - 50px);
}

textarea {
  width: calc(100% - 45px) !important;
}

.enterButton {
  position: absolute;
  right: 2px;
  top: calc(50% - 30px);
  height: 50px;
}

.messageToolbar {
  position: absolute;
  bottom: 0;
}