.welcomeContainer {
  background-color: #387ef5;
}

#settingsFab {
  bottom: 50px;
  right: 25px;
}

#savedFab {
  bottom: 50px;
  left: 25px;
}

.blue{
  background-color: #387ef5;
}

.welcomeH2.step2 {
  opacity: 1;
}

.welcomeH2 {
  font-size: 3rem;
  transition: 1s ease-in;
  opacity: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
}
ion-img {
  background: transparent;
}
#event-code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 15vw;
  width: 9ex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2.75ex;
}

.back-btn, .skip-btn {
  color: white !important;
}

.skip-btn {
  float: right;
}
