.blue{
  background-color: #387ef5;
}
.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
ion-img {
  background: transparent;
}
.heading{
  position: absolute;
  top: 35px;
  right: 0;
  left: 0;
  font-size: 50px;
}
.Letsgetstarted{
  font-size: 42px;
}
.createacct{
  font-size: 42px;
}
.info{
  font-size: 25px;
}
.logo{
  font-size: 50vmin;
}
