<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Event Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="noScroll">
  <ion-card>
    <img src="assets/event.jpg"/>
    <ion-card-header>
      {{ eventName }}<br>
      <small style="color: #b0bec5">{{ eventDate }}</small>
    </ion-card-header>
    <ion-card-content>
      {{ eventDescription}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="eventSchedule">
    <ion-card-header>
      Schedule
    </ion-card-header>
    <ion-card-content style="padding: 0;">
      <div id="schedule">
        <div class="schedule row" *ngFor="let item of eventSchedule.schedule">
          <span class="schedule time">{{item.time}}</span>
          <span class="schedule event">{{item.event}}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <p id="eventWebsite"><a id="eventWebsiteLink" href="{{eventWebsite}}">Website</a></p>
  <p id="hostedBy">Hosted by {{ eventOrganizer}}</p>
</ion-content>
